<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RawReportPath" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar"/>
    <add key="Comex" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\EMPRESARIAL.mdb"/>
  </appSettings>
  <connectionStrings>
    <add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=[databasePath];Persist Security Info=True;" providerName="Microsoft.ACE.OLEDB.12.0" />
  </connectionStrings>
</configuration>