<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RawReportPath" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar"/>
    <add key="BankReportPath" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\BankReports\"/>
    <add key="TemplatePath" value="D:\"/>
    <!-- -->
    <!--<add key="Comex" value="\\Sfsbfpr03\Tracking\Tracking Basadre\EMPRESARIAL.mdb"/>-->
    <add key="Comex" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\EMPRESARIAL.mdb"/>
    <add key="Tesoreria" value="\\Opera02\tracking access\New_Tracking\Tesoreria.mdb"/>
    <add key="Leasing" value="\\Sfsbfpr03\Tracking\Tracking Basadre\BD_LEASING.mdb"/>
    <!-- <add key="Canje" value="\\Opera01\tracking access\OBM\CANJE\CANJE.mdb "/>-->
    <add key="Canje" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\CANJE.mdb "/>
    <!--<add key="BaseDeDatos" value="\\sfsbfpr03\Tracking\BASE DE DATOS\BD.mdb"/>-->
    <add key="BaseDeDatos" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\BD.mdb"/>

    <!--<add key="AlianzasComerciales" value="\\SFSBFPR03\Tracking\ALIANZAS\ALIANZAS.mdb"/>-->
    <add key="AlianzasComerciales" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\ALIANZAS.mdb"/>
    <!--<add key="AlianzasComercialesTemplate" value="D:\"/>-->
    <add key="Custodia" value="\\sfsbfpr03\Tracking\CUSTODIA\BD_CUSTODIA.mdb"/>
    <add key="GestionDeSoluciones" value="\\sfsbfpr03\Tracking\GESTION DE SOLUCIONES\BD_GS.mdb"/>

    <!--<add key="Garantias" value="D:\Usuarios\juarui\Desktop\Documentación RPA's\borrar\EMPRESARIAL.mdb"/>-->
    <add key="DirLog" value="D:\LOG\"/>
    <add key="ArcExt" value=".RPA"/>
    
  </appSettings>
  <connectionStrings>
    <add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=[databasePath];Persist Security Info=True;" providerName="Microsoft.ACE.OLEDB.12.0" />
    <add name="AccessConnectionCanje" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=[databasePath];Jet OLEDB:Database Password=CONTRALORIA;Persist Security Info=True;" providerName="Microsoft.ACE.OLEDB.12.0" />
  </connectionStrings>
</configuration>

